

<!-- Page footer -->
 <footer class="footer position-relative bg-dark border-top">
    <span class="position-absolute top-0 start-0 w-100 h-100 bg-body d-none d-block-dark"></span>
    <div class="container position-relative z-1 pt-sm-2 pt-md-3 pt-lg-4" data-bs-theme="dark">

      <!-- Columns with links that are turned into accordion on screens < 500px wide (sm breakpoint) -->
      <div class="accordion py-5" id="footerLinks">
        <div class="row">
          <div class="col-md-4 d-sm-flex flex-md-column align-items-center align-items-md-start pb-3 mb-sm-4">
            <h4 class="mb-sm-0 mb-md-4 me-4">
              <a class="text-dark-emphasis text-decoration-none" href="home-electronics.html">grabmytix</a>
            </h4>
            
          
            <b>Contact: </b> 0451081907 / 0433814363 <a href="mailto:namgay2340@gmail.com">Send us Email</a>
<br/><br/>
            <ul class="nav p-0">
  <li class="nav-item">
    <a class="nav-link  " aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/movies">Movies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/events">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/about" >About us</a>
  </li>
</ul>
        &copy;  grabMytix.com 2025
          </div>
        </div>
      </div>

      

      <!-- Copyright + Payment methods -->
      <div class="d-md-flex align-items-center border-top py-4">
        
        <p class="text-body fs-xs text-center text-md-start mb-0 me-4 order-md-1">&copy; All rights reserved  grabmytix.com</p>
      </div>
    </div>

    <!-- Additional spacing to accommodate the sticky offcanvas toggle button -->
    <div class="d-lg-none" style="height: 3.75rem"></div>
  </footer>