<!-- Page footer -->
<footer class="footer position-relative bg-dark border-top">
  
  <div class="container position-relative z-1 pt-sm-2 pt-md-3 pt-lg-4" data-bs-theme="dark">

    <!-- Footer content -->
    <div class="py-5">
      <div class="row">
        
        <!-- Brand & Contact -->
        <div class="col-md-4 d-flex flex-column align-items-md-start align-items-center text-center text-md-start pb-3 mb-md-0">
          
          <h4 class="mb-3">
            <a class="text-light text-decoration-none" href="/">Grabmytix</a>
          </h4>

          <p class="mb-2">
            <strong>Contact:</strong><br>
            <a href="tel:0451081907" class="text-decoration-none text-light">0451 081 907</a> /
            <a href="tel:0433814363" class="text-decoration-none text-light">0433 814 363</a>
          </p>

          <p class="mb-4">
            <a href="mailto:grabmytix@grabmytix.com" class="text-decoration-none text-light">
              Send us email
            </a>
          </p>

          

        </div>

      </div>
    </div>

    <!-- Copyright -->
    <div class="d-md-flex align-items-center border-top py-4">
      <p class="fs-xs text-center text-md-start mb-0">
        © 2025 grabmytix.com. All rights reserved.
      </p>
    </div>

  </div>

  <!-- Optional spacing for mobile sticky elements -->
  <div class="d-lg-none" style="height: 2.75rem"></div>
</footer>
