{% extends "../includes/user_base.html" %}
{% block content %}

{%if messages%}
{% for message in messages%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endfor%}
{%endif%}
{{form.errors}}
<div class="container">
    <nav aria-label="breadcrumb  ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="/user/movies/">Movies</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add movie</li>
            <!-- <li class="breadcrumb-item active" aria-current="page">Add shows</li> -->
        </ol>
    </nav>
    <!-- {{form}} -->
    <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}

        <!-- Forms validation: status text -->

        <div class="row">
            <div class="col-md-4 mb-3">

                <label for="validationText02" class="form-label">Title</label>
                </label>{{form.title}}
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationText02" class="form-label">Duration</label>
                {{form.duration}}

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="validationText02" class="form-label">Director</label>
                {{form.director}}

            </div>
            <div class="col-md-4 mb-3">
                <label for="validationText02" class="form-label">Cast</label>
                {{form.cast}}

            </div>
            <div class="col-md-9 mb-3">
                <label for="validationTextUsername" class="form-label">Description</label>
                 {{ form.media }}
                {{form.description}}

            </div>
            <div class="col-md-9 mb-3">
                <label for="validationTextUsername" class="form-label">Genre</label>
                {{form.genre}}

            </div>
            <div class="col-md-9 mb-3">
                <label for="validationTextUsername" class="form-label">Language</label>
                {{form.language}}

            </div>
            <div class="col-md-9 mb-3">
                <label for="validationTextUsername" class="form-label">Trailer</label>
                {{form.trailer}}

            </div>
            <div class="col-md-5 mb-3">
                <label for="validationTextUsername" class="form-label">Poster</label>
                {{form.poster_image}}

            </div>
        </div>

        <button class="btn btn-danger btn-sm " type="submit">
            <i class="ci-send fs-base animate-target me-2 ms-n1"></i> Submit</button>

    </form>
</div>
{% endblock %}