{% extends "../includes/user_base.html" %}
{% block content %}
<div >
    <nav aria-label="breadcrumb  ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a href="/user/movies/">Movies</a></li>
            <li class="breadcrumb-item  "> <a href="/user/movies/add">Add Movie </a></li>
            <li class="breadcrumb-item active" aria-current="page">Add shows</li>
        </ol>
    </nav>
    {%if messages%}
    {% for message in messages%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endfor%}
    {%endif%}
  
 

       
         
  <div >
    <h5>Add new show</h5>

    <form method="POST"   >
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Date</label>
                {{ form.show_date }}
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Time</label>
                {{ form.show_time }}
            </div>

            <div class="col-md-12 mb-3">
                <label class="form-label">Theater Name</label>
                {{ form.theater_name }}
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Currency</label>
                {{ form.currency }}
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Adult Price</label>
                {{ form.adult }}
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">Child Price</label>
                {{ form.child }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label">Country</label>
                {{ form.country }}
            </div>

            <div class="col-md-3 mb-3">
                <label class="form-label">State</label>
                {{ form.state }}
            </div>

            <div class="col-md-12 mb-3">
                <label class="form-label">Street Address</label>
                {{ form.street }}
            </div>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Update show</button>
        </div>
    </form>
</div>

{%endblock%}