{% extends "../includes/user_base.html" %}
{% block content %}
<!-- Page content -->
<div >
   
    <div>
           {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <!-- Header -->
        <div class="d-md-flex align-items-center justify-content-between gap-3 pb-2 pb-sm-3 mb-md-2">
         <h5 class="alert-heading ">Your event lists</h5>
            <div class="d-flex flex-column flex-sm-row gap-2 gap-sm-3">
                <div class="position-relative" style="min-width: 190px">
                    <a href="/user/events/add">
                        <button type="button" class="btn btn-sm btn-danger rounded-pill w-100 animate-scale">
                            <i class="ci-plus-circle fs-base animate-target me-2 ms-n1"></i>
                            Add new event
                        </button>
                    </a>
                </div>
            </div>
        </div>

       
    </div>

    <div class="table-responsive">
        <div
            data-filter-list='{"searchClass": "table-search", "listClass": "table-list", "sortClass": "table-sort", "valueNames": ["ticket-no", "detail", "tickets", "total-cost", "payment", "attended"]}'>
            <!-- Search field -->
            <div class="position-relative mb-2" style="max-width: 600px">
                <i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                <input type="search" class="table-search form-control form-icon-start" placeholder="Search bookings">
            </div>

            <!-- Table -->
            <div class="table-responsive overflow-auto" style="height: 500px;">
                <table class="table align-middle fs-sm mb-0 table-striped">
                    <thead class="position-sticky top-0 bg-light">
                        <tr>
                             <th scope="col"><button type="button" class="btn fs-base fw-semibold table-sort p-0" data-sort="attended"></button></th>
                            <th scope="col"><button type="button" class="btn fs-base fw-semibold table-sort p-0" data-sort="ticket-no">Title.</button></th>
                            <th scope="col"><button type="button" class="btn fs-base fw-semibold table-sort p-0" data-sort="detail">Address</button></th>
                           
                            <th scope="col"><button type="button" class="btn fs-base fw-semibold table-sort p-0" data-sort="payment">Price</button></th>
                                                        <th scope="col"><button type="button" class="btn fs-base fw-semibold table-sort p-0" data-sort="status">Status</button></th>
                            <th scope="col"><button type="button" class="btn fs-base fw-semibold table-sort p-0" data-sort="">#</button></th>
                           
                        </tr>
                    </thead>

                    <tbody class="table-list">
                        {% for event in events %}
                        <tr>
                            <td class="ticket-no"> <img src="/media/{{event.poster_image}}" width="70px"></td>
                            <td class="detail">
                                    {{ event.title }}
                             
                            </td>
                            <td class="tickets">
                                 <p><i class="ci-map-pin"></i>
                            {{ event.place }}, {{ event.state }}, {{ event.country }}
                        </p>
                        <p><i class="ci-calendar"></i>
                            {{ event.show_date }} at {{ event.show_time }}
                        </p>
                            </td>
                            
                            <td class="payment">
                               <ul class="list-group list-group-flush">
                             <li  >
                                <b> {{ event.general_label }}: </b> {{ event.currency }} {{ event.price }} Ticket Qty: {{ event.quantity }}
                                 
                            </li>
                         
                            {% if event.vip_price %}
                            <li  >
                                <b> {{ event.vip_label }}: </b> {{ event.currency }} {{ event.vip_price }} Ticket Qty: {{ event.vip_quantity }}
                            </li>
                            {% endif %}                          

                            {% if event.economy_price %}
                         
                                 <b> {{ event.economy_label }}: </b> {{ event.currency }} {{ event.economy_price }} Ticket Qty: {{ event.economy_quantity }}
                          
                            {% endif %}
                        </ul>

                            </td>
                               <td class="status">{%if event.status%}<span class="text-success"> <i class="ci-check-circle "></i> Active</span>{%else%}<span class="text-danger"><i class="ci-close-circle text-red"></i></i>Expired</span>{%endif%}</td>
                            <td class="attended">
                                 <a href="/event/{{event.slug}}" class="btn btn-sm btn-success"><i class="ci-eye"></i>&nbsp;View</a>
<br/><br/>
                                  <a href="/user/events/edit/{{ event.slug }}" class="btn btn-sm btn-danger">
                        <i class="ci-edit"></i>&nbsp;edit
                    </a>
                              
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
