{% extends "../includes/user_base.html" %}
{% block content %}
<div> 
 
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mt-2">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <h5 class="alert   p-0 alert-white mt-3  mb-3"><b>{{ event.title }}</b></h5>

    <h5 class="mt-4"> People who can see booking for this event</h5>
<!-- Inline form built with rows and columns -->
    
    

<!-- Launch modal button -->
 {% if event.status == True %}
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalId">
<i class="ci-user-plus"></i>&nbsp; Give access to users  <i class="ci-chevron-right"></i>
</button>
{%endif%}
 

    <div class="table-responsive">
        <div class="table-responsive overflow-auto" style="max-height: 200px;">
            <table class="table align-middle fs-sm mb-0 table-striped">

                <thead class="position-sticky top-0 bg-light">
                    <tr>
                        <th scope="col" class="ps-0">Name</th>
                        <th scope="col" class="ps-0">Email</th>
                        <th scope="col" class="ps-0">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%if event_access%}
                    {% for event in event_access %}
                    <tr>
                        <td class="py-3 ps-0">
                            <div class="d-flex align-items-center hover-effect-scale">
                                <div class="ps-2 ms-1">
                                    {{ event.user.name }}
                                </div>
                            </div>
                        </td>
                        <td class="py-3 ps-0">{{event.user.email}}</td>

                        <td class="py-3 pe-0">


                            <a href="/user/event/delete/{{ event.id }}" class="btn btn-sm btn-danger"
                                aria-label="View tickets for {{ booking.filmshow__id }}">
                                Remove
                            </a>


                        </td>
                    </tr>

                    {% endfor %}
                    {%else%}
                    <tr>
                    <td colspan="3">
                    No Access granted
                    </td>
                    </tr>
                    {%endif%}
                </tbody>
            </table>
        </div>
     </div>
        <h5 class="mt-4"> Event Details</h5>
        <a href="/user/events/edit/{{ event.slug }}" class="btn btn-sm btn-outline-danger mb-3">
            <i class="ci-edit"></i>&nbsp;edit
        </a>
        <!-- Date & Time -->
        <div class="d-flex align-items-center mb-3">
            <i class="ci-calendar me-2  "></i>
            <time datetime="{{ event.show_date }}T{{ event.show_time }}" class="fw-semibold">
                {{ event.show_date }} • {{ event.show_time |date:'h:i A' }}
            </time>
        </div>

        <!-- Theater -->
        <div class="d-flex align-items-center mb-2">
            <i class="ci-map-pin me-2  "></i>
            <span class="fw-semibold">{{ event.place }}</span>
        </div>

        <!-- Address -->
        <div class="d-flex align-items-center">
            <i class="ci-bookmark"></i>
            <span> &nbsp;{{ event.street }}, {{ event.state.state_short|upper }}, {{ event.country }}</span>
        </div>

        <div class="col-md-12 mt-4">
            <img src="/media/{{ event.poster_image }}" alt="{{ event.title }} Poster" style="
           
           width: 100%;
           border-radius:20px;
           object-fit: contain;
           object-position: top;
           filter: brightness(1.01);
         ">

            <!-- Title -->

            <!-- Description -->
            <div class="mt-4 mb-5 d-none d-md-block">
                <p>{{ event.description | safe }}</p>
            </div>

            <!-- Type & Price -->

        </div>

 
<!-- Vertically centered modal -->
<div class="modal fade" id="modalId" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Give Access</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
   <form class=" align-items-center" method="POST">
    {% csrf_token %}   
 
 
    <label for="inline-form-input" class="visually-hidden">Email ID</label>
     {{form.email}}
            <div class="alert alert-warning mt-4" role="alert">
                        User will get access to bookings of tickets of  {{event}}
            </div>

      </div>
      <div class="modal-footer flex-column flex-sm-row align-items-stretch">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Give Access</button>
      </div>
    </div>
   </form>
    
  </div>
</div>
 
    {% endblock %}