{% extends "../includes/user_base.html" %}
{% block content %}
<!-- Page content -->
<div  >
     <div class="d-md-flex align-items-center justify-content-between gap-3 pb-2 pb-sm-3 mb-md-2">
            <h5 class="alert-heading ">Your movies list </h5>
            <div class="d-flex flex-column flex-sm-row gap-2 gap-sm-3">
                <div class="position-relative" style="min-width: 190px">
                    <a href="/user/movies/add">
                        <button type="button" class="btn btn-sm btn-danger rounded-pill w-100 animate-scale  ">
                            <i class="ci-plus-circle fs-base animate-target me-2 ms-n1"></i>
                            Add new movie
                        </button>
                    </a>
                </div>
            </div>
        </div>
    <div class="table-responsive">
        <div
            data-filter-list='{"searchClass": "table-search", "listClass": "table-list", "sortClass": "table-sort", "valueNames": ["ticket-no", "detail", "tickets", "total-cost", "payment", "attended"]}'>
            <!-- Search field -->
            <div class="position-relative mb-2" style="max-width: 600px">
                <i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                <input type="search" class="table-search form-control form-icon-start" placeholder="Search bookings">
            </div>

            <!-- Table -->
            <div class="table-responsive overflow-auto" style="height: 500px;">
                <table class="table align-middle fs-sm mb-0 table-striped">
                    <thead class="position-sticky top-0 bg-light">
                        <tr>
                             <th scope="col"><button type="button" class="btn fs-base fw-semibold table-sort p-0" data-sort="attended"></button></th>
                            <th scope="col"><button type="button" class="btn fs-base fw-semibold table-sort p-0" data-sort="ticket-no">Movie Name.</button></th>
                            <th scope="col"><button type="button" class="btn fs-base fw-semibold table-sort p-0" data-sort="detail">All Shows</button></th>
                           
                            <th scope="col"><button type="button" class="btn fs-base fw-semibold table-sort p-0" data-sort="total-cost">Edit</button></th>
                            <th scope="col"><button type="button" class="btn fs-base fw-semibold table-sort p-0" data-sort="payment">View detail</button></th>
                           
                        </tr>
                    </thead>

                    <tbody class="table-list">
                         {% for movie in movies%}
                        <tr>
                            <td class="ticket-no"> <img src="/media/{{movie.poster_image}}" width="70px"></td>
                            <td class="detail">
                                {{movie.title}} 
                             
                            </td>
                            <td class="tickets">
                                {% if movie.filmshow.all %}
                           

                            {% for address in movie.filmshow.all %}
                            
                               <i class="ci-check-circle text-info"></i>
                                &nbsp; {{address.theater_name}},{{address.state}}, {{address.country}} on
                                {{address.show_date}}  {% now "Y-m-d" as today %}

                    {% if address.show_date|date:"Y-m-d" < today %}
                    <span class="text-danger"><i class="ci-close-circle"></i>&nbsp;Ended</span>
                    {% else %}
                    <span class="text-success"><i class="ci-check-circle "></i>&nbsp;Active</span>
                    {% endif %}
                                &nbsp;
                           <br/>  
                            {%endfor%}
 
                        {%else%}
                         
                            <i class="ci-check-circle text-warning"></i>
                           No show available
                                                  <br/>      
                        {%endif%}
                        <br/> 
                         <a class="btn btn-outline-info btn-sm" href="/user/movies/add/addshow/{{movie.slug}}">
                            <i class="ci-plus-circle fs-base animate-target me-2 ms-n1"></i> Add more shows</a>
                            </td>
                            
                            <td class="payment">
                                <a href="/user/movies/edit/{{movie.slug}}" class="btn btn-sm btn-danger"><i class="ci-edit"></i>&nbsp;edit</a>
                            </td>
                            <td class="attended">
                               <a href="/{{movie.slug}}" class="btn btn-sm btn-success"><i class="ci-eye"></i>&nbsp;View</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
   
</div>

{% endblock %}