{% extends "../includes/base.html" %}
{% load static %}
{% block content %}
<div class="container p-5">
<h4>Enter new password</h4>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

    {% csrf_token %}
    <h6>New Password</h6>
    {{form.new_password1}}
    <h6>Confrim Password</h6>
    {{form.new_password2}}
	<input type="Submit" name="Update Password" value="Update Password" class="btn btn-success btn-sm">

</form>

</div>

{% endblock content %}