{% extends "../includes/user_base.html" %}
{% block content %}
{% if messages %}
<div class="">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
</div>
{% endif %}


    <h4 class="mb-2">Ticket Booking from other</h4>
     {% if bookings %}
      <p class="mb-4 text-muted">
        View the complete list of tickets booked, organized by movies and show locations.
      </p>
    <div class="table-responsive">
   <div class="table-responsive overflow-auto" style="height: 500px;">
                <table class="table align-middle fs-sm mb-0 table-striped">
    <thead class="position-sticky top-0 bg-light">
      
                <tr>
                    <th scope="col" class="ps-0">Title</th>
                    <th scope="col" class="ps-0">Type</th>
                    <th scope="col" class="ps-0">Location</th>
              
                    <th scope="col" class="d-none d-md-table-cell">Date & Time</th>
                    <th scope="col" class="d-none d-md-table-cell">Qty</th>
                    <th scope="col" class="d-none d-md-table-cell">Total Cost</th>
                    <th scope="col" class="d-none d-md-table-cell">Details</th>
                </tr>
            </thead>
            <tbody>
             
                {% for booking in bookings %}
                <tr>
                    <td class="py-3 ps-0">
                        <div class="d-flex align-items-center hover-effect-scale">
                            <div class="ps-2 ms-1">
                                {{ booking.title }}
                            </div>
                        </div>
                    </td>
                      <td class="d-none d-md-table-cell py-3">{{booking.type}}</td>
                    <td class="d-none d-md-table-cell py-3">{{booking.theater_name}}, <br/>{{ booking.state__state_short|upper}}</td>
                    
                    <td class="d-none d-md-table-cell py-3">{{ booking.show_date }} {{ booking.show_time|date:'h:i A' }}</td>
                    <td class="py-3 pe-0">
                        <span class="d-block">{{ booking.total_tickets }} tickets </span>
                    </td>
                          <td class="py-3 pe-0">
                        <span class="d-block fw-bold">Total: ${{ booking.total_payment }}</span>
                    </td>
                    <td class="py-3 pe-0">
                    
                        {%if booking.type == "Event" %}
                        <a href="/user/booking/tickets/e/{{ booking.event__id }}"
                           class="btn btn-sm btn-danger"
                           aria-label="View tickets for {{ booking.event__id }}">
                            View tickets  
                        </a>
                        {%else%}
                          <a href="/user/booking/tickets/{{ booking.filmshow__id }}"
                           class="btn btn-sm btn-danger"
                           aria-label="View tickets for {{ booking.filmshow__id }}">
                            View tickets
                        </a>
                        {%endif%}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
   </div>
   {%endif%}
    <div class="mt-5">
  {% if not bookings and not your_bookings %}
    <h5>Bookings</h5>
    <p>No bookings available yet. Start exploring and book your first event!</p>
    {% endif %}

    {% if your_bookings %}
    <h5>My Bookings</h5>
    <p>All the tickets that you have purchased
      <div class="table-responsive">
   <div class="table-responsive overflow-auto" style="height: 300px;">
                <table class="table align-middle fs-sm mb-0 table-striped">
    <thead class="position-sticky top-0 bg-light">
        <tr>
            <th scope="col">Ticket_No</th>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">Address</th>
            <th scope="col">Street</th>
            <th scope="col">Show Date</th>
            <th scope="col">Tickets</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in your_bookings %}
        <tr>
            <td><b>{{ booking.id }}</b></td>
            <td>{{ booking.title }}</td>
            <td > 
                {{ booking.type|capfirst }}   
            </td>
            <td>{{ booking.theater_name }}, {{ booking.state.state_short }}, {{ booking.country }}</td>
            <td>{{ booking.street }}</td>
            <td>{{ booking.show_date }} {{ booking.show_time|date:'h:i A' }}</td>
            <td>
                {%if booking.economy_quantity > 0 %}
                
                   {{booking.economy_label}}: {{ booking.economy_quantity }} × ${{ booking.economy_price }}
               <br/>
                   {% endif %}

                  {%if booking.general_quantity > 0 %}
                
                     {%if booking.economy_quantity > 0  or  booking.vip_quantity > 0 %} 
                      {{booking.general_label}}: 
                     {%else%}
                        Tickets:
                   {%endif%}
                         {{ booking.general_quantity }} × ${{ booking.general_price }}
                
                {% endif %}

                  {%if booking.vip_quantity > 0 %}
                       <br/>
                {{booking.vip_label}}: {{ booking.vip_quantity }} × ${{ booking.vip_price }}
                {% endif %}
                <!-- {% if booking.film %}
                    <br>Child: {{ booking.no_child }} × ${{ booking.price_child }}
                {% endif %} -->
            </td>
            <td><b>${{ booking.total_payment }}</b></td>
            <td>
                {% if booking.payment_status %}
                <button type="button" class="btn btn-sm btn-success" 
                    data-bs-toggle="popover" data-bs-placement="top" 
                    title="Payment Status" data-bs-content="You have already paid for this ticket.">
                    <i class="ci-check-circle fs-base me-1"></i> Paid
                </button>
                {% else %}
                <a class="btn btn-sm btn-info" target="_blank" href="/payment/{{ booking.id }}">
                    <i class="ci-banned me-1"></i> Pay ${{ booking.total_payment }}
                </a>
                  <br/> <br/>
                  <div class="dropdown">
  <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Delete</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/user/deletebooking/{{ booking.id }}"> <i class="ci-trash me-1"></i> Delete this booking</a></li>
   
  </ul>
</div>
 
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div></div>
{%endif%}
  </div>
  <br/>  <br/>
    <a href="/user/pastbooking/" class="btn btn-sm btn-dark">View tickets from past bookings &nbsp; <i class="ci-arrow-right fs-base ms-1"></i></a>

  
  </div>
  



 
 

{% endblock %}